:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --contacts-footer-color: rgb(255, 255, 255, 0.6);
    --footer-bg-color: #2F303A;
    --bg-color: #ECECEC;
    --background-buttons-color: #F5F4FA;
    --main-text-white-color: #FFFFFF;
    --studio-logo-color: #000000;
    --hover-focus-color: #2196F3;
    --bg-color-portfolio: #E5E5E5; 
    --border-color: #EEEEEE;
}

body, footer {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0px;
}

.webstudio-logo-header, .webstudio-logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--hover-focus-color); 
    margin: 0px;
}

.webstudio-logo-header {
    margin-right: 93px;
}

.links-header, .contacts-header, .webstudio-logo-header {
    display: flex;
    align-content: center;
}

.links-header li:not(:last-child), .contacts-header li:not(:last-child)  {
    margin-right: 50px;
}

.links-header .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;;
}

.links-header {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.header .container {
    display: flex;
}

.contacts-header {
   margin-left: 0px; 
}

a {
    color: var(--main-title-color);
    text-decoration: none; 
}

.link-header-studio.current, .link-header-portfolio.current {
    color: var(--hover-focus-color);
}

.studio-logo-header {
    color: var(--studio-logo-color);
}

.studio-logo-footer {
    color: var(--main-text-white-color);
}

.contacts-footer-mail, .contacts-footer-tel {
   color: var(--contacts-footer-color); 
   line-height: 1.7;
}

button {
    border-radius: 4px;
    background-color: var(--background-buttons-color);
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--main-title-color);
}

button:hover, button:focus {
    background-color: var(--hover-focus-color);
    color: var(--main-text-white-color);
}

.contacts-header-mail, .contacts-header-tel {
    font-size: 14px;
    color: var(--main-text-color);    
    font-weight: 500;
    line-height: 1.7;
}

.link-header-studio:hover, 
.link-header-portfolio:hover, 
.link-header-contacts:hover, 
.contacts-header-mail:hover, 
.contacts-header-tel:hover, 
.contacts-footer-mail:hover, 
.contacts-footer-tel:hover, 
.link-header-studio:focus, 
.link-header-portfolio:focus, 
.link-header-contacts:focus, 
.contacts-header-mail:focus, 
.contacts-header-tel:focus, 
.contacts-footer-mail:focus, 
.contacts-footer-tel:focus {
    color: var(--hover-focus-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    font-family: inherit;
    background-color: var(--footer-bg-color);
}

.address {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    color: var(--main-text-white-color); 
    line-height: 1.7;
}


/*Studio*/

.decides-order {
    background-color: var(--footer-bg-color);
    text-align: center;
}

.effective-decides {
    font-family: inherit;
    font-size: 44px;
    line-height: 1.4;
    color: var(--main-text-white-color);
    font-weight: 900;
    text-align: center;
}

.button-order {
    font-size: 16px;
    line-height: 1.9;
    color: var(--main-text-white-color);
    font-weight: 700;
    background-color: var(--hover-focus-color);
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0px;
}

.studio-list .container {
    display: flex;
    width: 1170px;
    height: 101px;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

.studio-list-li {
    width: 270px;
    height: 101px;
}

.studio-list-li:not(:first-child) {
    margin-left: 30px;
}

.studio-list-title {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--main-title-color);
}

.studio-list-text {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: var(--main-text-color);
}

.studio-list, 
.our-activity-photo, 
.our-team-photo, 
.portfolio-buttons {
    display: flex;
    align-content: center;
}

.section-our-activity {
    margin-top: 94px;
}

.our-activity, .our-team {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--main-title-color); 
    text-align: center;
}

.section-our-activity .container {
    display: flex;
    justify-content: center;
}

.our-activity-li {
    margin-left: 30px;
    margin-right: 30px;
}

.our-activity-li:first-child {
    margin-left: 0px;
}

.our-activity-li:last-child {
    margin-right: 0px;
}

.section-our-team {
    background-color: var(--background-buttons-color); 
}

.sectuion-our-team .container {
    display: flex;
    justify-content: center;
}

.item-our-team {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    padding-right: 0px;
    background-color: var(--main-text-white-color);
    box-shadow: rgba(0, 2, 1, 0);
}

.our-team-li:first-child {
    margin-left: 0px;
}

.our-team-li:last-child {
    margin-right: 0px;
}

.our-team-employee {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-title-color);
}

.our-team-position {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--main-text-color);
}

.our-team-employee, .our-team-position {
   box-align: center; 
}

/*Portfolio*/

.portfolio-button .container {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: var(--main-title-color);
}

.portfolio-buttons-li {
   margin-left: 8px;
   margin-right: 8px; 
}

.portfolio-buttons-li:first-child {
    margin-left: 0px;
}

.portfolio-buttons-li:last-child {
    margin-right: 0px;
}

.portfolio-buttons-all {
    min-width: 73px;
    Height: 38px;
    Top: 174px;
    Left: 495px;
    margin: auto 8p auto 8px;
}

.portfolio-buttons-web-site {
    min-width: 128px;
    Height: 38px;
    Top: 174px;
    Left: 576px;
    margin: auto 8p auto 8px;
}

.portfolio-buttons-attachment {
    min-width: 145px;
    Height: 38px;
    Top: 174px;
    Left: 712px;
    margin: auto 8p auto 8px;
}

.portfolio-buttons-design {
    min-width: 103px;
    Height: 38px;
    Top: 174px;
    Left: 865px;
    margin: auto 8p auto 8px;
}

.portfolio-buttons-marketing {
    min-width: 130px;
    Height: 38px;
    Top: 174px;
    Left: 976px;
    margin: auto 8p auto 8px;
}

.portfolio-project {
    font-family: inherit;
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    color: var(--main-title-color);
}

.portfolio-project-type {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    color: var(--main-text-color);
}

image {
    max-width: 100%;
    height: auto;
    display: block;
}

.portfolio-project .container  {
   width: 1210px;
   margin-left: auto;
   margin-right: auto;
   padding-right: 0px;
}

.portfolio-projects {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0px;
   padding-right: 0px;
} 

.item {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}